$white: #ffffff;
$black: #000000;
$gray3: #333333;
$gray6: #666666;
$graya: #aaaaaa;
$grayd: #dddddd;
$graye: #eeeeee;

$black200: #333333;

$bg_color: #000000;
$text_color: #f1f1f1;
$borde_color: #3a3a3a;
$main_text: #f3f3f3;
$sub_text: #666666;
$text_color_1: #f3f3f3cc;

$black1: #121212;
$black2: #222222;
$blacka: #1a1a1a;

$footer: #222222;
$footer_text: #969086;
$footer_line: #444444;

$ani_color: #1d1d1d;
$num_color: #c3c1bc;
$desc_border: #a29e95;
$ani_border: #676767;
$ani_box: #a6a39e;

$about_bg: #c3b996;
$about_header_border: #aca386;
$about_header_text: #40350f;
$about_color1: #6f674a;
$about_color2: #fff9f1;
$about_sub_text: #988c67;
$about_bg2: #e5e3dc;
$gray9: #999999;
$keyword_sub: #9b9488;
$keyword_num: #c4c4c4;

$contact_bg: #d7d1c6;
$contact_title: #a29e95;
$contact_me_color: #847f77;
$contact_circle: #e5e3dc;
