/* _stack.scss */
#stack {
  text-align: center; /* 텍스트 중앙 정렬 */
  padding-top: 100px;  // 헤더 크기에 맞게 여백을 설정 (조정 가능)
}

.stack-title {
  font-size: 1.5em; /* 원하는 크기로 조정 (예: 2.5em) */
  font-weight: bold; /* 굵게 설정 */
  margin-bottom: 20px; /* 아래 여백 추가 */
}

.stack-image {
  max-width: 700px; /* 최대 너비를 700px로 설정 */
  width: 100%; /* 부모 요소에 맞게 너비 조정 */
  height: auto; /* 비율 유지 */
  margin-top: 20px; /* 이미지 위 여백 */
  margin-bottom: 20px; /* 이미지 아래에 20px 간격 추가 */
}
